html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  color: white;
  font-family: "PT-Sans-Caption-400", serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-family: "OpenSans-400", serif;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

p {
  font-family: "OpenSans-400", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #68717C;
}

h2, h3 {
  font-family: "PT-Sans-Caption-700", serif;
  font-size: 72px;
  font-weight: 700;
}

@font-face {
  font-family: "PT-Sans-Caption-400";
  src: url(../fonts/ptsanscaption.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Caption-400";
  src: url(../fonts/ptsanscaption.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Caption-700";
  src: url(../fonts/ptsanscaptionbold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Caption-700";
  src: url(../fonts/ptsanscaptionbold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-400";
  src: url(../fonts/opensans.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-400";
  src: url(../fonts/opensans.woff2);
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}

.headings {
  color: #142131;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

.header-bg {
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 860px;
  position: relative;
}
@supports (background: url("../img/main-bg.webp")) {
  .header-bg {
    background: url(../img/main-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
  }
}

.navUp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 22px 0;
}

.navUp__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navUP__left_line {
  border: 1px solid #fff;
  opacity: 0.2;
  height: 42px;
  margin-right: 50px;
  margin-left: 60px;
}

.agent__link_item::after {
  content: url(../img/arrow-right.svg);
  margin-left: 10px;
  vertical-align: middle;
}

.navUp__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.iconSocial_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.iconSocial__element_link {
  margin: 0 10px;
}

.contact__nav_elements {
  padding-left: 42px;
  padding-right: 48px;
}
.contact__nav_elements .contact__nav_el {
  text-align: end;
  font-size: 18px;
}
.contact__nav_elements .contact__nav_el-num {
  font-size: 18px;
  font-family: "PT-Sans-Caption-700", serif;
}
.contact__nav_elements .contact__nav_el-time {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
  line-height: 18px;
}

.btn__navUp {
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 37px;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  font-family: "PT-Sans-Caption-400", serif;
  font-size: 14px;
  cursor: pointer;
}
.btn__navUp.btn__navUp:hover {
  background-color: #fff;
  color: #012510;
}
.btn__navUp.btn__navUp:active {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.btn__navUp.btn__navUp:disabled {
  color: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.nav__elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.nav__main_link {
  font-size: 16px;
  padding: 19px;
  -webkit-transition: ease-in-out 0.8ms;
  -o-transition: ease-in-out 0.8ms;
  transition: ease-in-out 0.8ms;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
}
.nav__main_link.nav__main_link:hover,
.nav__main_link .nav__main_link:focus,
.nav__main_link .nav__main_link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.title__main_wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title__mainHeader_scroll {
  position: relative;
}

.text__scroll {
  color: #fff;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  position: absolute;
  top: 13px;
  font-family: "PT-Sans-Caption-400", serif;
  line-height: 24px;
}

.title__scroll_line {
  border: 1px solid #fff;
  width: 287px;
  position: absolute;
  top: 234px;
  left: -130px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.title__scroll_arrow {
  position: absolute;
  top: 420px;
  left: -6px;
  cursor: pointer;
}

.title__mainHeader_text {
  margin-left: 66px;
}

.title__main {
  font-family: "PT-Sans-Caption-700", serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}

.title__main_text {
  max-width: 630px;
  margin-top: 20px;
  margin-bottom: 76px;
  color: #fff;
}

.btn__main {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 15px 35px;
  color: #353D46;
  -webkit-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  font-family: "PT-Sans-Caption-400", serif;
  font-size: 16px;
}
.btn__main.btn__main:hover {
  background-color: transparent;
  color: #fff;
}
.btn__main.btn__main:active {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btn__main.btn__main:disabled {
  color: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25);
}

.title__mainHeader_iconSocial {
  margin: 30px 0;
}
.title__mainHeader_iconSocial .iconSocial__element_link {
  margin: 0;
}

.header__slider {
  position: relative;
  bottom: -300px;
  left: 306px;
}

.header__slider__wrapper.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 3px 15px;
  height: 175px;
  width: 300px;
}
.header__slider__wrapper .slick-prev.slick-arrow {
  position: absolute;
  border: none;
  font-size: 0;
  height: 41px;
  width: 41px;
}
.header__slider__wrapper .slick-next.slick-arrow {
  position: absolute;
  border: none;
  font-size: 0;
  height: 41px;
  width: 41px;
}
.header__slider__wrapper.slick-list.draggable {
  padding: 0;
}

.header__slider__wrapper .slick-prev.slick-arrow {
  background: url("data:image/svg+xml;charset=UTF-8, %3csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='20' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 20.5 20.5)' stroke='%23D7DADE'/%3e%3cpath d='M21.6945 25.3238C21.8502 25.3241 22.0012 25.2698 22.1211 25.1704C22.1886 25.1145 22.2444 25.0457 22.2853 24.9682C22.3262 24.8906 22.3514 24.8057 22.3595 24.7184C22.3675 24.6311 22.3583 24.5431 22.3323 24.4593C22.3062 24.3756 22.2639 24.2978 22.2078 24.2304L19.2211 20.6571L22.1011 17.0771C22.1565 17.0089 22.1979 16.9304 22.2228 16.8462C22.2478 16.762 22.2558 16.6737 22.2465 16.5863C22.2372 16.499 22.2108 16.4143 22.1687 16.3372C22.1266 16.2601 22.0696 16.1921 22.0011 16.1371C21.9322 16.0764 21.8514 16.0306 21.7639 16.0026C21.6764 15.9747 21.584 15.965 21.4926 15.9744C21.4012 15.9838 21.3128 16.012 21.2328 16.0572C21.1528 16.1024 21.083 16.1637 21.0278 16.2371L17.8078 20.2371C17.7097 20.3564 17.6561 20.506 17.6561 20.6604C17.6561 20.8149 17.7097 20.9645 17.8078 21.0838L21.1411 25.0838C21.208 25.1645 21.293 25.2282 21.3891 25.2699C21.4852 25.3116 21.5899 25.3301 21.6945 25.3238Z' fill='%23D7DADE'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 133px;
  right: 115%;
}

.header__slider__wrapper .slick-next.slick-arrow {
  background: url("data:image/svg+xml;charset=UTF-8, %3csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='20.5' cy='20.5' r='20' transform='rotate(-90 20.5 20.5)' stroke='%23142131'/%3e%3cpath d='M19.3055 25.3238C19.1498 25.3241 18.9988 25.2698 18.8789 25.1704C18.8114 25.1145 18.7556 25.0457 18.7147 24.9682C18.6738 24.8906 18.6486 24.8057 18.6405 24.7184C18.6325 24.6311 18.6417 24.5431 18.6677 24.4593C18.6938 24.3756 18.7361 24.2978 18.7922 24.2304L21.7789 20.6571L18.8989 17.0771C18.8435 17.0089 18.8021 16.9304 18.7772 16.8462C18.7522 16.762 18.7442 16.6737 18.7535 16.5863C18.7628 16.499 18.7892 16.4143 18.8313 16.3372C18.8734 16.2601 18.9304 16.1921 18.9989 16.1371C19.0678 16.0764 19.1486 16.0306 19.2361 16.0026C19.3236 15.9747 19.416 15.965 19.5074 15.9744C19.5988 15.9838 19.6872 16.012 19.7672 16.0572C19.8472 16.1024 19.917 16.1637 19.9722 16.2371L23.1922 20.2371C23.2903 20.3564 23.3439 20.506 23.3439 20.6604C23.3439 20.8149 23.2903 20.9645 23.1922 21.0838L19.8589 25.0838C19.792 25.1645 19.707 25.2282 19.6109 25.2699C19.5148 25.3116 19.4101 25.3301 19.3055 25.3238Z' fill='%23142131'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 133px;
  right: 111%;
}

.header__slider_card {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 17px 18px 29px 28px;
}

.header__slider_title {
  color: #353D46;
  font-family: "PT-Sans-Caption-700", serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__slider_text {
  color: #A6ABB2;
  font-size: 14px;
  font-family: "OpenSans-400", serif;
  font-weight: 400;
  line-height: 22px;
  max-width: 254px;
}

.popular__excursions {
  margin: 216px 0 60px 0;
}

.popular__excursions_title {
  font-family: "PT-Sans-Caption-700", serif;
  font-weight: 700;
  color: #142131;
  font-size: 36px;
  text-align: center;
  margin-bottom: 56px;
}

.green__wrap {
  color: #00993E;
}

.popular__excursions_cards {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 45px 30px;
  max-width: 300px;
  position: relative;
}

.popular__excursions_card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}
.popular__excursions_card.popular__excursions_card:hover .popular__exursionsCard-hovered {
  display: block;
}

.popular__exursionsCard-hovered {
  position: absolute;
  top: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
}
.popular__exursionsCard-hovered.popular__exursionsCard-hovered_buttom {
  top: 556px;
}

.popular__excursions_btnWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 16px;
}

.popular__excursions_btn {
  border: 1px solid #68717C;
  outline: none;
  color: #142131;
  font-size: 14px;
  background-color: #fff;
  padding: 15px 93px;
  cursor: pointer;
}

.excursions__card_title {
  color: #142131;
  font-size: 18px;
  font-family: "PT-Sans-Caption-700", serif;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 10px 0;
}

.excursionsCard__img_icons {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.excursionsCard__img_icons .excursionsCard__img_icons-rating {
  margin: 10px;
}
.excursionsCard__img_icons .exursionsCard__img_icons-like {
  margin: 10px;
}

.excursionsCard__place_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
  padding-bottom: 20px;
}

.excursionsCard__place_icon-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.excursionsCard__place_icon {
  margin-right: 8px;
}

.excursionsCard__place_text {
  font-size: 14px;
  color: #D7DADE;
}

.excursionsCard__place_items-line {
  border: 1px solid #F7F7F7;
  max-width: 280px;
}

.excursionsCard__advantages_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px;
}

.excursionsCard__advantages_items-right {
  text-align: end;
}

.excursionsCard__advantages_item-left {
  font-size: 14px;
  margin: 15px 0;
}

.excursionsCard__advantages_item-right {
  font-size: 14px;
  margin: 20px 0;
}

.excursionsCard__advantages_item-right::after {
  content: url(../img/arrow-green.svg);
  margin-left: 8px;
}

.excursionsCard__advantages-sum::before {
  content: url(../img/rub-icon-green.svg);
  vertical-align: text-top;
  margin-right: 8px;
}

.excursionsCard__advantages-days::before {
  content: url(../img/clock-icon-green.svg);
  vertical-align: text-top;
  margin-right: 8px;
}

.excursionsCard__advantages-distances::before {
  content: url(../img/distant-icon-green.svg);
  vertical-align: text-top;
  margin-right: 8px;
}

.excursionsWithUs {
  margin-bottom: 60px;
}

.excursionsWithUs__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.excursionsWithUs__textWrapper {
  max-width: 588px;
}

.excursionsWithUs__title {
  color: #142131;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}

.excursionsWithUs__text {
  max-width: 511px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.excursionsWithUs__link {
  font-size: 16px;
  color: #00993E;
}
.excursionsWithUs__link.excursionsWithUs__link::after {
  content: url(../img/arrow-right-green.svg);
  margin-left: 10px;
  vertical-align: middle;
}

.certificates {
  background-color: #00993E;
  margin-bottom: 70px;
  position: relative;
  height: 300px;
  max-height: 300px;
  margin-bottom: 438px;
}

.certificates__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 62px;
}

.certificates__title {
  font-size: 36px;
}

.certificates__link {
  font-size: 16px;
}

.certificates__link::after {
  content: url(../img/arrow-right.svg);
  margin-left: 10px;
  vertical-align: middle;
}

.certificates__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
}

.whatSay {
  margin-bottom: 120px;
}

.whatSay__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.whatSay__text {
  max-width: 563px;
  margin-top: 20px;
}

.whatSay__slider_wrapper {
  margin-top: 50px;
}
.whatSay__slider_wrapper.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 15px;
  height: 160px;
}
.whatSay__slider_wrapper .slick-prev.slick-arrow {
  position: absolute;
  border: none;
  font-size: 0;
  height: 41px;
  width: 41px;
}
.whatSay__slider_wrapper .slick-next.slick-arrow {
  position: absolute;
  border: none;
  font-size: 0;
  height: 41px;
  width: 41px;
}

.whatSay__slider_wrapper .slick-prev.slick-arrow {
  background: url("data:image/svg+xml;charset=UTF-8, %3csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3ccircle r='20' transform='matrix(4.37114e-08 -1 -1 -4.37114e-08 20.5 20.5)' stroke='%23142131' /%3e%3cpath d='M21.6945 25.3235C21.8502 25.3238 22.0012 25.2696 22.1211 25.1702C22.1886 25.1142 22.2444 25.0455 22.2853 24.9679C22.3262 24.8904 22.3514 24.8055 22.3595 24.7182C22.3675 24.6309 22.3583 24.5428 22.3323 24.4591C22.3062 24.3753 22.2639 24.2976 22.2078 24.2302L19.2211 20.6569L22.1011 17.0769C22.1565 17.0087 22.1979 16.9302 22.2228 16.846C22.2478 16.7618 22.2558 16.6734 22.2465 16.5861C22.2372 16.4987 22.2108 16.4141 22.1687 16.337C22.1266 16.2599 22.0696 16.1919 22.0011 16.1369C21.9322 16.0762 21.8514 16.0304 21.7639 16.0024C21.6764 15.9744 21.584 15.9648 21.4926 15.9742C21.4012 15.9836 21.3128 16.0118 21.2328 16.057C21.1528 16.1022 21.083 16.1634 21.0278 16.2369L17.8078 20.2369C17.7097 20.3562 17.6561 20.5058 17.6561 20.6602C17.6561 20.8146 17.7097 20.9642 17.8078 21.0835L21.1411 25.0835C21.208 25.1642 21.293 25.228 21.3891 25.2697C21.4852 25.3114 21.5899 25.3298 21.6945 25.3235Z' fill='%23142131' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 228px;
  left: 45%;
}

.whatSay__slider_wrapper .slick-next.slick-arrow {
  background: url("data:image/svg+xml;charset=UTF-8, %3csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3ccircle cx='20.5' cy='20.5' r='20' transform='rotate(-90 20.5 20.5)' stroke='%2300993E' /%3e%3cpath d='M19.3055 25.3235C19.1498 25.3238 18.9988 25.2696 18.8789 25.1702C18.8114 25.1142 18.7556 25.0455 18.7147 24.9679C18.6738 24.8904 18.6486 24.8055 18.6405 24.7182C18.6325 24.6309 18.6417 24.5428 18.6677 24.4591C18.6938 24.3753 18.7361 24.2976 18.7922 24.2302L21.7789 20.6569L18.8989 17.0769C18.8435 17.0087 18.8021 16.9302 18.7772 16.846C18.7522 16.7618 18.7442 16.6734 18.7535 16.5861C18.7628 16.4987 18.7892 16.4141 18.8313 16.337C18.8734 16.2599 18.9304 16.1919 18.9989 16.1369C19.0678 16.0762 19.1486 16.0304 19.2361 16.0024C19.3236 15.9744 19.416 15.9648 19.5074 15.9742C19.5988 15.9836 19.6872 16.0118 19.7672 16.057C19.8472 16.1022 19.917 16.1634 19.9722 16.2369L23.1922 20.2369C23.2903 20.3562 23.3439 20.5058 23.3439 20.6602C23.3439 20.8146 23.2903 20.9642 23.1922 21.0835L19.8589 25.0835C19.792 25.1642 19.707 25.228 19.6109 25.2697C19.5148 25.3114 19.4101 25.3298 19.3055 25.3235Z' fill='%2300993E' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  cursor: pointer;
  top: 228px;
  left: 50%;
}

.whatSay__card {
  padding: 18px 10px 36px 18px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.whatSay__el_left {
  padding-right: 30px;
}

.whatSay__left_rating {
  min-width: 120px;
}

.whatSay__left_nikname p {
  font-size: 14px;
  font-family: "OpenSans-400", serif;
}

.slider__arrow__wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__arrow_left {
  margin-right: 15px;
  cursor: pointer;
}

.slider__arrow_right {
  cursor: pointer;
}

.whatSay__link {
  font-size: 16px;
  color: #00993E;
}
.whatSay__link.whatSay__link::after {
  content: url(../img/arrow-right-green.svg);
  margin-left: 10px;
  vertical-align: middle;
}

.whatSay__text_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 80px;
}

.whatSay__text_el {
  max-width: 627px;
}

.whatSay__right_text {
  line-height: 22px;
  margin-top: 16px;
  font-size: 14px;
}

.footer {
  background-color: #012510;
  padding-top: 64px;
  padding-bottom: 44px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.iconSocial__footer {
  margin-top: 30px;
  margin-left: 38px;
}

.iconSocial__footer_link {
  margin: 0 12px;
}

.footer__img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer__link_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__link_title {
  margin-bottom: 25px;
  font-size: 18px;
}

.footer__link_els {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__link {
  margin: 7px 0;
  color: #7BC89B;
  font-size: 14px;
  line-height: 22px;
}
.footer__link.footer__link::before {
  content: url(../img/arrow-right.svg);
  margin-right: 5px;
}
.footer__link.footer__tel::before {
  content: url(../img/phone.svg);
}
.footer__link.footer__email::before {
  content: url(../img/email.svg);
}
.footer__link.footer__location::before {
  content: url(../img/location.svg);
}

.footer__btn_wrapper {
  margin-top: 40px;
}

.footer__btn {
  margin-top: 40px;
}

.footer__agreement_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 53px;
}

.footer__agreement_text {
  color: #176337;
}

body .modal {
  height: 100vh;
  overflow-x: hidden;
}

.modal {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100vh;
}
.modal.modal-footerCall {
  bottom: -3970px;
}

.modal__wrapper {
  z-index: 6;
  position: absolute;
  right: 307px;
  top: 150px;
  background-color: #fff;
  padding: 20px 24px 29px 26px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 300px;
  height: 315px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-registration__wrapper {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -68%);
  -ms-transform: translate(-50%, -68%);
  transform: translate(-50%, -68%);
  width: 837px;
  height: 580px;
  padding: 0;
}

.modal-loginAccount {
  background-color: rgba(1, 37, 16, 0.7);
  display: none;
}

.modal-recoverPass {
  display: none;
}

.modal-registration {
  background-color: rgba(1, 37, 16, 0.7);
  display: none;
}

.close__iconModal_wrap {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.close__iconModal_wrap-call {
  top: 54px;
  right: 50px;
}

.modal__title {
  font-size: 18px;
  line-height: 23px;
  color: #68717C;
  text-align: center;
}

.modal__title-registration {
  color: #142131;
  font-size: 36px;
  font-family: "PT-Sans-Caption-700", serif;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 40px;
}

.modal__subTitle_call {
  margin-top: 10px;
  padding-bottom: 25px;
}

.modal-call {
  background-color: rgba(1, 37, 16, 0.7);
  display: none;
}

.modal-footerCall {
  background-color: rgba(1, 37, 16, 0.7);
  display: none;
}

.modal-call__wrapper {
  width: 660px;
  height: 416px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -85%);
  -ms-transform: translate(-50%, -85%);
  transform: translate(-50%, -85%);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='660' height='416' viewBox='0 0 660 416' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d_108_8994)'%3e%3crect x='15' y='15' width='630' height='386' rx='3' fill='white'/%3e%3c/g%3e%3crect x='15' y='15' width='630' height='386' rx='3' fill='%23F7F7F7'/%3e%3cpath d='M182 15H645V401H221.543L182 15Z' fill='white'/%3e%3cmask id='mask0_108_8994' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='15' y='15' width='630' height='360'%3e%3crect x='15' y='15' width='630' height='360' rx='3' fill='%23F7F7F7'/%3e%3c/mask%3e%3cg mask='url(%23mask0_108_8994)'%3e%3cpath d='M183.342 13.0001H-130.167C-141.262 13.0001 -151.902 17.294 -159.747 24.9372C-167.593 32.5804 -172 42.9469 -172 53.756V359.163C-172.011 364.604 -170.893 369.991 -168.713 375L26.5874 45.4302L114.586 193.898C52.6733 175.267 -22.7158 209.764 -54.7181 296.661C11.7665 229.181 143.481 241.029 176.768 298.67L222.007 375C224.167 369.986 225.274 364.601 225.264 359.163V53.756C225.264 48.3965 224.179 43.0896 222.071 38.1392C219.964 33.1888 216.874 28.692 212.98 24.9063C209.086 21.1206 204.464 18.1204 199.378 16.0774C194.292 14.0343 188.843 12.9886 183.342 13.0001Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_d_108_8994' x='0' y='0' width='660' height='416' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='7.5'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_108_8994'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_108_8994' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
}
.modal-call__wrapper.modal__wrapper {
  background-color: inherit;
  padding: 0;
}

.modal-footerCall__wrapper {
  width: 660px;
  height: 416px;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 10%);
  -ms-transform: translate(-50%, 10%);
  transform: translate(-50%, 10%);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='660' height='416' viewBox='0 0 660 416' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d_108_8994)'%3e%3crect x='15' y='15' width='630' height='386' rx='3' fill='white'/%3e%3c/g%3e%3crect x='15' y='15' width='630' height='386' rx='3' fill='%23F7F7F7'/%3e%3cpath d='M182 15H645V401H221.543L182 15Z' fill='white'/%3e%3cmask id='mask0_108_8994' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='15' y='15' width='630' height='360'%3e%3crect x='15' y='15' width='630' height='360' rx='3' fill='%23F7F7F7'/%3e%3c/mask%3e%3cg mask='url(%23mask0_108_8994)'%3e%3cpath d='M183.342 13.0001H-130.167C-141.262 13.0001 -151.902 17.294 -159.747 24.9372C-167.593 32.5804 -172 42.9469 -172 53.756V359.163C-172.011 364.604 -170.893 369.991 -168.713 375L26.5874 45.4302L114.586 193.898C52.6733 175.267 -22.7158 209.764 -54.7181 296.661C11.7665 229.181 143.481 241.029 176.768 298.67L222.007 375C224.167 369.986 225.274 364.601 225.264 359.163V53.756C225.264 48.3965 224.179 43.0896 222.071 38.1392C219.964 33.1888 216.874 28.692 212.98 24.9063C209.086 21.1206 204.464 18.1204 199.378 16.0774C194.292 14.0343 188.843 12.9886 183.342 13.0001Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_d_108_8994' x='0' y='0' width='660' height='416' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='7.5'/%3e%3cfeComposite in2='hardAlpha' operator='out'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_108_8994'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_108_8994' result='shape'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
}
.modal-footerCall__wrapper.modal__wrapper {
  background-color: inherit;
  padding: 0;
}

.modal__title-call {
  color: #142131;
  font-size: 24px;
  font-family: "PT-Sans-Caption-700", serif;
  font-weight: 700;
  line-height: 28px;
}

.modal__input.modal__input_call {
  width: 282px;
  margin-bottom: 20px;
}
.modal__input.modal__input_call.modal__input.modal__input_call:last-child {
  margin-bottom: 0;
}

.call__btn_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__btn-call {
  width: 300px;
  padding: 14px 16px;
  color: white;
  background-color: #00993E;
  border: 1px solid #00993E;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT-Sans-Caption-400", serif;
}
.modal__btn-call.modal__btn-call:hover {
  color: #00993E;
  background-color: #fff;
}
.modal__btn-call.modal__btn-call:active {
  color: white;
  background-color: #005924;
}

.modal__subTitle {
  text-align: center;
  padding-bottom: 22px;
}

.modal__subTitle_recoverPass {
  margin-top: 19px;
  margin-bottom: 68px;
  max-width: 217px;
}

.modal__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.input__modal_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(215, 218, 222, 0.6);
  padding: 15px 0;
}
.input__modal_wrapper.input__modal_wrapper .modal__input-email {
  margin-bottom: 0;
}

.form__label {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: "OpenSans-400", serif;
  color: #A6ABB3;
  width: 340px;
  margin-right: 40px;
}

.modal__input {
  border: 1px solid rgba(0, 153, 62, 0.4);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 14px;
  width: 232px;
  height: 46px;
  outline: none;
}
.modal__input.modal__input:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(10, 74, 36, 0.1);
  box-shadow: 0 0 15px 0 rgba(10, 74, 36, 0.1);
}
.modal__input.modal__input:focus-visible {
  border: 1px solid rgba(0, 153, 62, 0.8);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.modal__input.modal__input::-webkit-input-placeholder {
  color: #A6ABB2;
  font-size: 16px;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
  line-height: 24px;
}
.modal__input.modal__input::-moz-placeholder {
  color: #A6ABB2;
  font-size: 16px;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
  line-height: 24px;
}
.modal__input.modal__input:-ms-input-placeholder {
  color: #A6ABB2;
  font-size: 16px;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
  line-height: 24px;
}
.modal__input.modal__input::-ms-input-placeholder {
  color: #A6ABB2;
  font-size: 16px;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
  line-height: 24px;
}
.modal__input.modal__input::placeholder {
  color: #A6ABB2;
  font-size: 16px;
  font-family: "PT-Sans-Caption-400", serif;
  font-weight: 400;
  line-height: 24px;
}

.modal__input-email {
  margin-bottom: 10px;
}

.modal__input-pass {
  margin-bottom: 10px;
}

.modal__input-email-recoverPass {
  margin-bottom: 5px;
}

.modal__form_els {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__checkbox_wrap {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0;
  margin-right: 23px;
}

.modal__checkbox_wrap-call {
  margin-right: 0;
  margin-top: 12px;
}

.modal__checkbox-defaul {
  display: none;
}

.modal__form_checkbox {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  background: #FFFFFF;
  border: 1px solid #00993e;
  margin-right: 10px;
  position: relative;
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal__form_checkbox.modal__form_checkbox::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.37524 7.47453L1.89608 4.99536C1.83125 4.92974 1.75404 4.87764 1.66893 4.84208C1.58381 4.80653 1.49249 4.78822 1.40024 4.78822C1.308 4.78822 1.21668 4.80653 1.13156 4.84208C1.04645 4.87764 0.969239 4.92974 0.90441 4.99536C0.83879 5.06019 0.786691 5.1374 0.751133 5.22251C0.715575 5.30763 0.697266 5.39895 0.697266 5.49119C0.697266 5.58344 0.715575 5.67476 0.751133 5.75988C0.786691 5.84499 0.83879 5.9222 0.90441 5.98703L3.87233 8.95494C4.14858 9.23119 4.59483 9.23119 4.87108 8.95494L12.3794 1.45369C12.445 1.38887 12.4971 1.31166 12.5327 1.22654C12.5682 1.14143 12.5866 1.0501 12.5866 0.957861C12.5866 0.865618 12.5682 0.774293 12.5327 0.689179C12.4971 0.604065 12.445 0.526856 12.3794 0.462027C12.3146 0.396408 12.2374 0.344308 12.1523 0.30875C12.0671 0.273192 11.9758 0.254883 11.8836 0.254883C11.7913 0.254883 11.7 0.273192 11.6149 0.30875C11.5298 0.344308 11.4526 0.396408 11.3877 0.462027L4.37524 7.47453Z' fill='%2300993E'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.11s ease-in;
  -o-transition: 0.11s ease-in;
  transition: 0.11s ease-in;
}
.modal__form_checkbox.modal__form_checkbox-call {
  width: 17px;
  height: 17px;
}

.modal__checkbox-defaul:checked + .modal__form_checkbox {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
}

.modal__checkbox-defaul:checked + .modal__form_checkbox::after {
  height: 15px;
  width: 13px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.modal__checkbox_text {
  color: #A6ABB2;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  font-family: "OpenSans-400", serif;
  vertical-align: bottom;
}

.modal__checkbox_losePass {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  font-family: "OpenSans-400", serif;
  color: #A6ABB2;
  text-decoration: underline;
}

.registration__btn_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  justify-items: end;
  margin-top: 23px;
}
.registration__btn_wrap .modal__btn_items {
  margin-top: 0;
}

.modal__btn_items {
  margin-top: 20px;
}

.modal__btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #00993E;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.7s;
  -o-transition: ease-in-out 0.7s;
  transition: ease-in-out 0.7s;
}

.modal__btn-enter {
  color: white;
  background-color: #00993E;
  margin-right: 11px;
  padding: 10px 39px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT-Sans-Caption-400", serif;
}
.modal__btn-enter.modal__btn-enter:hover {
  color: #00993E;
  background-color: #fff;
  border: 1px solid #00993E;
}
.modal__btn-enter.modal__btn-enter:active {
  color: white;
  background-color: #005924;
}

.modal__btn-registration {
  padding: 10px 16px;
  color: #00993E;
  background-color: #fff;
  border: 1px solid #00993E;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT-Sans-Caption-400", serif;
}
.modal__btn-registration.modal__btn-registration:hover {
  color: white;
  background-color: #00993E;
}
.modal__btn-registration.modal__btn-registration:active {
  color: white;
  background-color: #005924;
}

.modal__btn-registrationGreen {
  color: white;
  background-color: #00993E;
  padding: 10px 39px;
  width: 250px;
  height: 51px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT-Sans-Caption-400", serif;
}
.modal__btn-registrationGreen.modal__btn-registrationGreen:hover {
  color: #00993E;
  background-color: #fff;
  border: 1px solid #00993E;
}
.modal__btn-registrationGreen.modal__btn-registrationGreen:active {
  color: white;
  background-color: #005924;
}

.modal__btn-recoverPass {
  color: white;
  background-color: #00993E;
  width: 250px;
  height: 50px;
  margin-top: -20px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT-Sans-Caption-400", serif;
}
.modal__btn-recoverPass.modal__btn-recoverPass:hover {
  color: #00993E;
  background-color: #fff;
  border: 1px solid #00993E;
}
.modal__btn-recoverPass.modal__btn-recoverPass:active {
  background-color: #005924;
}

.noScroll {
  overflow-y: hidden;
}

.active-js {
  display: block;
}